body,
html {
  font-family: 'Titillium Web', sans-serif;
}
.container {
  padding-top: 33px;
  padding-bottom: 33px;
}
.header-style-one .header-mainbox {
  background-color: #fff;
  z-index: 99;
}
.main-header .header-top {
  background-color: #37b4f0;
  color: #fff;
}
.main-header .header-top .container {
  padding-top: 0;
  padding-bottom: 0;
}
.main-header .header-mainbox .container {
  padding-top: 0;
  padding-bottom: 0;
}
.main-header .header-mainbox .container .logo_cont .logo a h1 {
  height: 0;
  overflow: hidden;
}
img {
  image-orientation: from-image;
}
h2.h {
  height: 0;
  overflow: hidden;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.sidebar .title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
  margin-top: 30px;
}
.hero {
  height: 550px;
}
.hero .slide {
  height: 550px;
}
.hero .hero-slider .owl-controls {
  height: 0;
}
.error.cont_info .section-content {
  width: 100%;
  max-width: 360px;
  text-align: center;
  margin: 0 auto;
}
.error.cont_info .section-content h2,
.error.cont_info .section-content h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #181818;
}
.error.cont_info .section-content h3 {
  color: #77d6cb;
  font-size: 80px;
  line-height: 0.81;
}
.error.cont_info .section-content .message {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #181818;
  padding: 20px 0;
}
.error.cont_info .section-content a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #77d6cb;
  border: solid 2px #77d6cb;
  padding: 8px 20px;
  display: inline-block;
  margin: 0;
}
#imagemodal .modal-content,
#mapmodal .modal-content {
  border-radius: 15px;
  overflow: hidden;
}
#imagemodal .modal-content .modal-header,
#mapmodal .modal-content .modal-header {
  border-bottom: 0;
  padding: 0;
  position: absolute;
  top: 11px;
  right: 8px;
  font-size: 16px;
  z-index: 999;
}
#imagemodal .modal-content .modal-header button,
#mapmodal .modal-content .modal-header button {
  font-size: 30px;
  line-height: 12px;
}
#imagemodal .modal-content .modal-body,
#mapmodal .modal-content .modal-body {
  padding: 0;
}
#imagemodal .modal-content .modal-body img,
#mapmodal .modal-content .modal-body img {
  width: 100%;
}
#imagemodal .modal-content .modal-body .maps,
#mapmodal .modal-content .modal-body .maps {
  width: 100%;
  min-width: 500px;
  height: 400px;
}
.movil_lang {
  display: none;
}
.theme-green .main-menu .collapse {
  max-height: initial;
}
.theme-green .main-menu .navigation > li > a {
  color: #0d79aa;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 14px;
  padding: 22px 15px;
  text-transform: uppercase;
}
.theme-green .main-menu .navigation > li:hover > a {
  color: #0d79aa;
}
.theme-green .main-menu .navigation > li.current > a {
  color: #0d79aa;
}
.theme-green .main-menu .navigation > li.current-menu-item > a {
  color: #0d79aa;
}
.theme-green .main-menu .navigation > li > ul {
  background-color: #0d79aa;
}
.theme-green .main-menu .navigation > li > ul > li:hover,
.theme-green .main-menu .navigation > li > ul > li:focus,
.theme-green .main-menu .navigation > li > ul > li:active {
  background-color: #0d79aa !important;
  background: #0d79aa !important;
}
.theme-green .main-menu .navigation > li > ul > li a {
  text-transform: uppercase;
}
.header-top .container .top-left ul.info-nav li {
  margin-right: 20px;
}
.header-top .container .top-left ul.info-nav li a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
.header-top .container .top-left ul.info-nav li a span {
  color: #fff;
}
.header-top .container .top-left ul.info-nav li span {
  color: #251d66;
}
.header-top .container .top-left ul.info-nav li.separator {
  position: relative;
  margin-right: 30px;
}
.header-top .container .top-left ul.info-nav li.separator span {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  font-size: 7px;
}
.header-top .container .top-left ul.info-nav li.dropdown {
  margin-left: 60px;
}
.header-top .container .top-left ul.info-nav li.dropdown:hover a {
  position: relative;
}
.header-top .container .top-left ul.info-nav li.dropdown:hover a:after {
  content: '.....';
  position: absolute;
  letter-spacing: 4px;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -10px;
}
.header-top .container .top-left ul.info-nav li.dropdown:hover ul li a:after {
  content: initial;
}
.header-top .container .top-right ul.info-nav li a {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.header-top .container .top-right ul.info-nav li a.contacto {
  border: 1px solid #fff;
  padding: 6px 10px;
  position: relative;
  padding-left: 30px;
}
.header-top .container .top-right ul.info-nav li a.contacto span {
  position: absolute;
  top: 8px;
  left: 6px;
  font-size: 18px;
  font-weight: bold;
}
.hero {
  position: relative;
}
.hero .slide:before {
  display: none;
}
.hero .slide .title .tit {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.hero .slide .title .sub {
  font-size: 72px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.hero .emergencies {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #0d79aa;
  padding: 15px 30px;
}
.hero .emergencies:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 14px;
  background-color: #77d6cb;
}
.hero .emergencies .icon-movil {
  font-size: 63px;
  color: #fff;
  margin-right: 5px;
}
.hero .emergencies .right {
  display: inline-block;
  vertical-align: top;
  color: #fff;
}
.hero .emergencies .right span {
  font-family: 'Titillium Web', sans-serif;
  display: block;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}
.hero .emergencies .right span + span {
  font-size: 29px;
  font-weight: bold;
}
.tag {
  background-color: #0d79aa;
  padding: 21px 0;
}
.tag span {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: center;
  color: #fff;
  display: block;
}
.tag span + span {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.tag span + span + span {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #fff;
}
.contact-form input,
.contact-form textarea {
  font-family: 'Titillium Web', sans-serif;
  background-color: #efefef;
  border: 0;
}
.contact-form .form_grp_info {
  position: relative;
}
.contact-form .form_grp_info span {
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 10px;
}
.contact-form .form_grp_info span i {
  color: #77d6cb;
}
.contact-form select {
  display: block;
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  height: 50px;
  border: 0;
  border-radius: 0;
  background-color: #efefef;
  font-family: 'Titillium Web', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.blog article .post-body .post-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.blog article .post-body .post-info a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #77d6cb;
}
.blog article .post-body .post-info span {
  color: #77d6cb;
}
.blog article .post-body a.btn {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #77d6cb;
  max-width: 166px;
  height: 45px;
  border: solid 2px #77d6cb;
  padding: 8px 20px;
  margin-top: 45px;
  display: inline-block;
  background-color: transparent;
  text-transform: uppercase;
}
.blog .sidebar .search-box .form-group input[type="text"],
.blog .sidebar .search-box .form-group input[type="search"] {
  background-color: #fff;
  border: solid 1px #979797;
}
.blog .sidebar .search-box .form-group button {
  background-color: #77d6cb;
  line-height: 55px;
}
.blog .sidebar .search-box .form-group button span {
  font-size: 25px;
}
.blog .sidebar .popular-tags a {
  background-color: #77d6cb;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.blog .sidebar .archives-widget ul.archives-list li {
  padding: 5px 0;
}
.blog .sidebar .archives-widget ul.archives-list li a .pull-left,
.blog .sidebar .archives-widget ul.archives-list li a .pull-right {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #77d6cb;
}
.blog .sidebar .sidebar-title {
  margin-bottom: 10px;
}
.blog .sidebar .sidebar-title h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
  text-transform: uppercase;
}
.blog .sidebar .sidebar-title h2:after {
  bottom: -15px;
}
.blog .sidebar .sidebar-title:after {
  content: initial;
}
.who-we-are .home_team_med span,
.who-we-are .home_care span {
  font-size: 60px;
  color: #77d6cb;
}
.who-we-are .home_team_med h4,
.who-we-are .home_care h4 {
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.who-we-are .home_team_med p,
.who-we-are .home_care p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.who-we-are .home_team_med a,
.who-we-are .home_care a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #77d6cb;
  width: 166px;
  height: 45px;
  border: solid 2px #77d6cb;
  padding: 8px 20px;
  margin-top: 45px;
  display: block;
}
.who-we-are .mb20 span {
  color: #77d6cb;
}
.calculator-imc {
  background-color: #0d79aa;
}
.calculator-imc .container .imc-message h3 {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}
.calculator-imc .container .imc-message h3 span {
  color: #77d6cb;
}
.calculator-imc .container .imc-message p {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}
.calculator-imc .container .imc-form .metrico,
.calculator-imc .container .imc-form .imperial {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.calculator-imc .container .imc-form .altura label,
.calculator-imc .container .imc-form .peso label {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
}
.calculator-imc .container .imc-form .altura label input,
.calculator-imc .container .imc-form .peso label input {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #77d6cb;
}
.calculator-imc .container .imc-form .altura label input::-webkit-input-placeholder,
.calculator-imc .container .imc-form .peso label input::-webkit-input-placeholder,
.calculator-imc .container .imc-form .altura label input::-moz-placeholder,
.calculator-imc .container .imc-form .peso label input::-moz-placeholder,
.calculator-imc .container .imc-form .altura label input:-ms-input-placeholder,
.calculator-imc .container .imc-form .peso label input:-ms-input-placeholder,
.calculator-imc .container .imc-form .altura label input:-moz-placeholder,
.calculator-imc .container .imc-form .peso label input:-moz-placeholder {
  color: #77d6cb;
}
.calculator-imc .container .imc-form .botones {
  margin-top: 25px;
}
.calculator-imc .container .imc-form .botones .borrar input,
.calculator-imc .container .imc-form .botones .calcular input {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #77d6cb;
  border: solid 2px #fff;
  color: #fff;
  background-color: transparent;
  padding: 8px 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
}
.calculator-imc .container .imc-form .botones .borrar input {
  color: #77d6cb;
  border: solid 2px #77d6cb;
  box-sizing: border-box;
}
.calculator-imc .container .imc-form .col-md-12 {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.calculator-imc .container .imc-resultado {
  padding: 26px 0 0 40px;
}
.calculator-imc .container .imc-resultado .imc-de {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.calculator-imc .container .imc-resultado .imc-res,
.calculator-imc .container .imc-resultado .imc-range,
.calculator-imc .container .imc-resultado .imc-desc {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}
.calculator-imc .container .imc-resultado .imc-de {
  line-height: 1em;
}
.calculator-imc .container .imc-resultado .imc-res {
  font-size: 90px;
  line-height: 1em;
}
.calculator-imc .container .imc-resultado .imc-range {
  line-height: 1em;
}
.calculator-imc .container .imc-resultado .imc-desc {
  line-height: 1em;
}
.calculator-imc .container .imc-resultado .imc-desc {
  font-weight: normal;
  line-height: 1em;
}
.calculator-imc .container .imc-resultado ul {
  display: block;
  min-height: 32px;
}
.calculator-imc .container .imc-resultado ul li {
  display: none;
}
.calculator-section-imc {
  background-color: #fff;
}
.calculator-section-imc .container {
  background-color: #37b4f0;
}
.calculator-section-imc .imc-message h3 {
  display: none;
}
.calculator-section-imc .imc-message p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  padding: 35px 0 0 40px;
  margin-top: 0;
  color: #fff;
}
.calculator-section-imc .imc-form .col-md-12 {
  padding-bottom: 20px;
}
.calculator-section-imc .imc-form .col-md-12:last-child {
  padding-bottom: 0;
}
.calculator-section-imc .imc-resultado {
  padding: 40px 0 0 40px;
}
.miembro {
  background-color: #f6f6f6;
}
.miembro .container .section-content h3 {
  font-family: TitilliumWeb;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: center;
  color: #0d79aa;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.miembro .container .section-content .rasoc {
  text-align: center;
}
.miembro .container .section-content .rasoc .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.miembro .container .section-content .rasoc .image {
  height: 67px;
}
.miembro .container .section-content .rasoc .image img {
  -o-object-fit: contain;
     object-fit: contain;
}
.miembro .container .section-content .rasoc span {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #181818;
  display: block;
}
.main-footer {
  background-color: #0d79aa;
}
.main-footer .container {
  padding-bottom: 5px;
}
.main-footer ul {
  padding: 0;
  margin: 0;
}
.main-footer ul li {
  list-style: none;
  display: block;
}
.main-footer ul li a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
.main-footer .formadepago h4 {
  padding: 0;
}
.main-footer .formadepago ul li {
  display: inline-block;
  padding: 0 10px;
}
.main-footer .formadepago ul li span {
  font-size: 30px;
  color: #fff;
}
.main-footer .formadepago ul li:first-child {
  padding-left: 0;
}
.main-footer .formadepago ul li:last-child {
  padding-right: 0;
}
.main-footer .mas-info h4 {
  padding: 0;
}
.main-footer .mas-info ul li a {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.main-footer .mas-info ul li a.contacto {
  border: 1px solid #fff;
  padding: 6px 10px;
  position: relative;
  padding-left: 30px;
  display: inline-block;
  margin-bottom: 8px;
}
.main-footer .mas-info ul li a.contacto span {
  position: absolute;
  top: 8px;
  left: 6px;
  font-size: 18px;
  font-weight: bold;
}
.main-footer .social ul {
  text-align: center;
}
.main-footer .social ul li {
  display: inline-block;
  padding: 0 15px;
}
.main-footer .social ul li a {
  color: #fff;
}
.main-footer .social ul li a span {
  color: #fff;
  font-size: 22px;
}
.main-footer .aviso {
  text-align: center;
}
.main-footer .aviso a {
  color: #fff;
}
.bariatric-surgerion {
  margin: 0px;
  margin-top: 30px;
}
.bariatric-surgerion .section-title h6,
.bariatric-surgerion .section-title h2 {
  font-family: 'Titillium Web', sans-serif;
}
.bariatric-surgerion .section-title h2 {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.bariatric-surgerion .section-title h6 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: left;
  color: #181818;
}
.bariatric-surgerion .section-wrap .service-box {
  color: #fff;
  padding: 0;
  height: 160px;
  position: relative;
  text-align: center;
  transform: translateZ(0px);
  z-index: 1;
  margin-bottom: 30px;
}
.bariatric-surgerion .section-wrap .service-box:before,
.bariatric-surgerion .section-wrap .service-box::after {
  content: "";
}
.bariatric-surgerion .section-wrap .service-box::before {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: scaleY(0);
  transform-origin: 100% 0 0;
}
.bariatric-surgerion .section-wrap .service-box::after {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: scaleX(0);
  transform-origin: 0 100% 0;
}
.bariatric-surgerion .section-wrap .service-box .service-box-overlay {
  background-color: #0d79aa;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  transition: all 0.3s ease 0s;
  opacity: 0.9;
}
.bariatric-surgerion .section-wrap .service-box > i {
  color: #fff;
  display: block;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 15px;
  position: relative;
  z-index: 4;
}
.bariatric-surgerion .section-wrap .service-box .service-box-content {
  position: relative;
  z-index: 4;
  height: 100%;
  padding: 40px 0;
}
.bariatric-surgerion .section-wrap .service-box .service-box-content a {
  color: #fff;
}
.bariatric-surgerion .section-wrap .service-box .service-box-content h5 {
  font-size: 1.143em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 4px);
  padding: 0 15px;
  text-align: center;
}
.bariatric-surgerion .section-wrap .service-box .service-box-content span {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 0;
}
.bariatric-surgerion .section-wrap .service-box::before {
  transform: scaleY(1);
}
.bariatric-surgerion .section-wrap .service-box::after {
  transform: scaleX(1);
}
.bariatric-surgerion .foot {
  text-align: center;
}
.bariatric-surgerion .foot a.more {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0d79aa;
  border: solid 2px #0d79aa;
  padding: 8px 20px;
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 20px;
}
.our-department .section-title h6,
.our-department .section-title h2 {
  font-family: 'Titillium Web', sans-serif;
}
.our-department .section-title h2 {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.our-department .section-title h6 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: left;
  color: #181818;
}
.our-department .section-wrap .service-box {
  color: #fff;
  padding: 0;
  height: 160px;
  position: relative;
  text-align: center;
  transform: translateZ(0px);
  z-index: 1;
  margin-bottom: 30px;
}
.our-department .section-wrap .service-box:before,
.our-department .section-wrap .service-box::after {
  content: "";
}
.our-department .section-wrap .service-box::before {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: scaleY(0);
  transform-origin: 100% 0 0;
}
.our-department .section-wrap .service-box::after {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: scaleX(0);
  transform-origin: 0 100% 0;
}
.our-department .section-wrap .service-box .service-box-overlay {
  background-color: #0d79aa;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  transition: all 0.3s ease 0s;
  opacity: 0.9;
}
.our-department .section-wrap .service-box > i {
  color: #fff;
  display: block;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 15px;
  position: relative;
  z-index: 4;
}
.our-department .section-wrap .service-box .service-box-content {
  position: relative;
  z-index: 4;
  height: 100%;
  padding: 30px 0;
}
.our-department .section-wrap .service-box .service-box-content a {
  color: #fff;
}
.our-department .section-wrap .service-box .service-box-content h5 {
  font-size: 1.143em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 4px);
  padding: 0 15px;
  text-align: center;
}
.our-department .section-wrap .service-box .service-box-content span {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 0;
}
.our-department .section-wrap .service-box::before {
  transform: scaleY(1);
}
.our-department .section-wrap .service-box::after {
  transform: scaleX(1);
}
.team .section_wrap .owl-carousel .team-item .team-img:before,
.team .section_wrap .owl-carousel .team-item .team-img:after {
  content: initial;
}
.team .section_wrap .owl-carousel .team-item .img-title {
  background-color: #0d79aa;
}
.team .section_wrap .owl-carousel .team-item .img-title h4 {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
}
.team .section_wrap .owl-carousel .team-item .img-title p {
  text-transform: uppercase;
  color: #fff;
}
.team .section_wrap .owl-carousel .team-item .img-title p a {
  color: #fff;
}
.team .section_wrap .owl-controls {
  display: none;
}
.testimoniales {
  background-color: #f6f6f6;
  padding-bottom: 0;
  padding-top: 0;
}
.testimoniales h5 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: center;
  color: #77d6cb;
}
.testimoniales h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #181818;
}
.testimoniales .desc {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 580px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #181818;
}
.testimoniales .testi {
  padding: 5px 10px;
}
.testimoniales .testi .cont {
  background-color: #fff;
}
.testimoniales .testi .cont .img_desc {
  padding: 30px 20px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.testimoniales .testi .cont .img_desc p {
  position: relative;
  line-height: 1.2em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.testimoniales .testi .cont .img_desc .img_name,
.testimoniales .testi .cont .img_desc .img_surg {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
  min-height: 30px;
}
.testimoniales .testi .cont .img_desc .img_name {
  font-weight: bold;
}
.testimoniales .testi .cont .img_cont {
  width: 100%;
}
.testimoniales .testi .cont .img_cont img {
  width: 100%;
}
.testimoniales .foot {
  text-align: center;
}
.testimoniales .foot a.more {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #77d6cb;
  border: solid 2px #77d6cb;
  padding: 8px 20px;
  display: inline-block;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 20px;
}
.testimoniales .foot span {
  display: block;
}
.testimonial {
  background-color: #f6f6f6;
  padding-bottom: 0;
  padding-top: 0;
}
.testimonial h5 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: center;
  color: #0d79aa;
}
.testimonial h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #181818;
}
.testimonial .desc {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 580px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #181818;
}
.testimonial .testi {
  padding: 0 10px;
}
.testimonial .testi .cont {
  background-color: #fff;
}
.testimonial .testi .cont .img_desc {
  padding: 30px 20px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.testimonial .testi .cont .img_desc p {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  height: 7.3em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.testimonial .testi .cont .img_desc .img_name,
.testimonial .testi .cont .img_desc .img_surg {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
  min-height: 30px;
}
.testimonial .testi .cont .img_desc .img_name {
  font-weight: bold;
}
.testimonial .testi .cont .img_cont {
  width: 100%;
}
.testimonial .testi .cont .img_cont img {
  width: 100%;
}
.testimonial .foot {
  text-align: center;
}
.testimonial .foot a.more {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0d79aa;
  border: solid 2px #0d79aa;
  padding: 8px 20px;
  display: inline-block;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 20px;
}
.testimonial .foot span {
  display: block;
}
.vallarta {
  position: relative;
  text-align: center;
  margin-top: 30px;
}
.vallarta:before {
  background-color: rgba(15,38,58,0.3) !important;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.vallarta h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.vallarta p {
  font-family: 'Titillium Web', sans-serif;
  width: 750px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: initial;
  margin: 10px auto;
}
.vallarta a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  border: solid 2px #fff;
  padding: 8px 20px;
  display: inline-block;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 20px;
  background-color: transparent;
}
.vallarta a:hover {
  background-color: transparent;
}
a.jx-knightlab {
  display: none;
}
.cont_info {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
section.title_section {
  background-attachment: initial;
  background-position: 0 0;
}
section.title_section .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
section.title_section .title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
section.title_section p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
ul.lista {
  margin: 15px 0px 10px 10px;
}
ul.lista li {
  position: relative;
  padding-left: 15px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
ul.lista li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 20px;
  background-color: #77d6cb;
  position: absolute;
  top: 12px;
  left: 0;
}
.includes_packages .home_team_med {
  position: relative;
  padding-left: 65px;
}
.includes_packages .home_team_med span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  color: #007aad;
}
.includes_packages .home_team_med h4 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
  text-transform: uppercase;
}
.includes_packages .home_team_med p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.includes_packages .home_team_med.row_one {
  min-height: 150px;
}
.includes_packages .home_team_med.row_two {
  min-height: 225px;
}
.includes_packages .home_team_med.row_three {
  min-height: 150px;
}
.includes_packages .home_team_med .icon-ambulance {
  font-size: 41px;
}
.includes_packages .home_team_med .icon-med {
  font-size: 60px;
}
.includes_packages .home_team_med .icon-lab {
  font-size: 45px;
}
.includes_packages .home_team_med .icon-food {
  font-size: 60px;
}
.includes_packages .home_team_med .icon-bed {
  font-size: 42px;
}
.includes_packages .section-wrap {
  margin-top: 30px !important;
}
.includes_packages .section-content h2 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
  margin-top: 30px;
}
.clasificacion-imc .section-title {
  padding-bottom: 30px;
}
.clasificacion-imc .desc_block {
  padding-bottom: 20px;
}
.clasificacion-imc .desc_block .circle {
  display: inline-block;
  vertical-align: top;
  border: 4px solid #007aad;
  width: 42px;
  height: 42px;
  border-radius: 100%;
}
.clasificacion-imc .desc_block .circle.fir {
  opacity: 0.1;
}
.clasificacion-imc .desc_block .circle.sec {
  opacity: 0.2;
}
.clasificacion-imc .desc_block .circle.thi {
  opacity: 0.3;
}
.clasificacion-imc .desc_block .circle.fou {
  opacity: 0.4;
}
.clasificacion-imc .desc_block .circle.fiv {
  opacity: 0.5;
}
.clasificacion-imc .desc_block .circle.six {
  opacity: 0.6;
}
.clasificacion-imc .desc_block .circle.sev {
  opacity: 0.7;
}
.clasificacion-imc .desc_block .circle.eig {
  opacity: 0.85;
}
.clasificacion-imc .desc_block .circle.nin {
  opacity: 1;
}
.clasificacion-imc .desc_block .desc {
  display: inline-block;
  width: calc(100% - 60px);
  padding-left: 10px;
  vertical-align: top;
}
.clasificacion-imc .desc_block .desc span {
  display: block;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.clasificacion-imc .desc_block .desc span.block_bold {
  font-weight: bold;
  line-height: normal;
}
.obesidad ul li {
  position: relative;
  padding-left: 15px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.obesidad ul li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 20px;
  background-color: #77d6cb;
  position: absolute;
  top: 12px;
  left: 0;
}
.obesidad .sidebar p {
  padding-top: 20px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.obesidad .sidebar ul li {
  font-weight: bold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.obesidad .sidebar ul li:before {
  content: initial;
  padding-left: 0;
}
.cmq_nayarit .sidebar .cont_image,
.cmq_premiere .sidebar .cont_image,
.consultorio .sidebar .cont_image {
  width: 100%;
}
.cmq_nayarit .sidebar .cont_image img,
.cmq_premiere .sidebar .cont_image img,
.consultorio .sidebar .cont_image img {
  width: 100%;
}
.cmq_nayarit .sidebar p,
.cmq_premiere .sidebar p,
.consultorio .sidebar p {
  text-align: center;
}
.cmq_nayarit .sidebar a.map,
.cmq_premiere .sidebar a.map,
.consultorio .sidebar a.map {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #77d6cb;
  text-transform: uppercase;
}
.contacto .sidebar a {
  width: 100%;
}
.contacto .sidebar a img {
  width: 100%;
}
.contacto .sidebar p {
  text-align: left;
}
.contacto .sidebar a.map {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #77d6cb;
  text-transform: uppercase;
}
.contacto .comunicacion {
  padding-top: 10px;
  padding-bottom: 10px;
}
.contacto form .text-center {
  text-align: center;
}
.contacto form input[type="submit"] {
  border: solid 2px #77d6cb;
  font-family: 'Titillium Web', sans-serif;
  background-color: #fff;
  border-radius: 0;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #77d6cb;
  display: block;
  padding: 6px 30px;
  margin: 10px auto;
  margin-top: 35px;
}
.contacto form a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
  color: #181818;
}
.staff .team-item .team-img:after,
.staff .team-item .team-img:before {
  content: initial;
}
.staff .team-item .img-title {
  background-color: #37b4f0;
  opacity: 1;
}
.staff .team-item .img-title h4 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.staff .team-item .img-title p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin: 0;
}
.staff .sidebar ul li a,
.staff .sidebar ul li h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.staff .sidebar ul li h3 {
  text-transform: initial;
}
.contacto .comunicacion,
.consultorio .comunicacion {
  padding-top: 23px;
}
.contacto .comunicacion .left,
.consultorio .comunicacion .left {
  display: inline-block;
  width: 75px;
  vertical-align: top;
}
.contacto .comunicacion .left span,
.consultorio .comunicacion .left span {
  font-size: 75px;
  display: block;
  color: #1179a9;
}
.contacto .comunicacion .right,
.consultorio .comunicacion .right {
  display: inline-block;
  width: calc(100% - 90px);
  vertical-align: top;
}
.contacto .comunicacion .right span,
.consultorio .comunicacion .right span {
  display: block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.contacto .comunicacion .right span + span,
.consultorio .comunicacion .right span + span {
  font-size: 37px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7em;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.contacto .comunicacion .right span + span + span,
.consultorio .comunicacion .right span + span + span {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.gallery .section-title h2 {
  color: #3f3a36;
}
section.gallery .col-md-3 {
  padding: 0;
}
section.gallery .popup-link {
  display: block;
  height: 223px;
  overflow: hidden;
}
section.gallery .popup-link img {
  width: 100%;
}
.overlay_vallarta {
  position: relative;
}
.overlay_vallarta:before {
  background-color: rgba(0,0,0,0.2);
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.video {
  position: relative;
  padding-bottom: 56.25% /*16:9*/;
  padding-top: 30px;
  height: 0;
/* overflow hidden */
  margin-bottom: 75px;
}
.video .bottom {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  text-align: center;
}
.video .bottom a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0d79aa;
  border: solid 2px #0d79aa;
  padding: 8px 20px;
  display: inline-block;
  margin: 0;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.g-recaptcha div {
  margin: 0 auto;
}
.float_contact {
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: -1;
  opacity: 0;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.float_contact a {
  background-color: #77d6cb;
  color: #fff;
  padding: 6px 10px;
  border: 1px solid #fff;
}
.float_contact a span {
  color: #fff;
}
.float_contact a:active,
.float_contact a:hover {
  color: #fff;
  background-color: #77d6cb;
}
.float_contact.show {
  z-index: 1000;
  opacity: 1;
}
.cirujano .sidebar h5 {
  text-align: center;
}
.cirujano .sidebar .cirujano_info ul li {
  text-align: center;
}
.cirujano .sidebar .cirujano_asociado .member {
  text-align: center;
}
.cirujano .sidebar .cirujano_asociado .member .image {
  height: 74px;
  font-size: 0;
}
.cirujano .sidebar .cirujano_asociado .member .image img {
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
  max-width: 100%;
}
.cirujano .sidebar .cirujano_asociado .member .image .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.cirujano .sidebar .cirujano_asociado .member span {
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #181818;
}
.cirujano .sidebar ul li span {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #181818;
}
.cirujano .sidebar ul li span.tag_info {
  font-weight: bold;
}
.section-content h2 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
  margin-top: 30px;
}
.section-content p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
  margin-top: 30px;
}
.section-content ul li {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.radio_button {
  margin-bottom: 0;
  font-weight: normal;
}
.radio_button .radio_cont {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  vertical-align: top;
}
.radio_button .radio_cont input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio_button .radio_cont input[type="radio"]:checked ~ .control_indicator:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #77d6cb;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
}
.radio_button .radio_cont .control_indicator {
  position: absolute;
  top: 4px;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: #fff;
  border: 2px solid #77d6cb;
  border-radius: 100%;
}
.radio_button span {
  display: inline-block;
  height: 30px;
  vertical-align: top;
}
.main-header .header-top {
  background-color: #0d79aa;
}
.header-top ul.info-nav li.dropdown ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 120%;
  width: 200px;
  padding: 0px;
  z-index: 100;
  display: block;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  background-color: #37b4f0;
  border: 1px solid #37b4f0;
}
.header-top ul.info-nav li.dropdown ul li {
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.header-top ul.info-nav li.dropdown ul li a {
  position: relative;
  display: block;
  padding: 10px 20px;
  line-height: 24px;
  font-weight: 400;
  font-size: 13px;
  text-transform: capitalize;
  color: #333;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.header-top ul.info-nav li.dropdown ul li:hover {
  background-color: #77d6cb;
}
.header-top ul.info-nav li.dropdown:hover ul {
  visibility: visible;
  opacity: 1;
  top: 150%;
}
.header-top ul.info-nav li.dropdown .dropdown-btn {
  display: none;
}
.scroll-to-top {
  color: #fff;
  border: 1px solid #fff;
}
