body,
html {
  font-family: 'Titillium Web', sans-serif;
}
.container {
  padding-top: 33px;
  padding-bottom: 33px;
}
.header-style-one .header-mainbox {
  background-color: #fff;
}
.main-header .header-top {
  background-color: #37b4f0;
  color: #fff;
}
.main-header .header-top .container {
  padding-top: 0;
  padding-bottom: 0;
}
.main-header .header-mainbox .container {
  padding-top: 0;
  padding-bottom: 0;
}
.hero {
  height: 550px;
}
.hero .slide {
  height: 550px;
}
.hero .hero-slider .owl-controls {
  height: 0;
}
.theme-green .main-menu .navigation > li > a {
  color: #0d79aa;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 14px;
  padding: 22px 20px;
}
.theme-green .main-menu .navigation > li:hover > a {
  color: #0d79aa;
}
.theme-green .main-menu .navigation > li.current > a {
  color: #0d79aa;
}
.theme-green .main-menu .navigation > li.current-menu-item > a {
  color: #0d79aa;
}
.theme-green .main-menu .navigation > li > ul {
  background-color: #37b4f0;
}
.theme-green .main-menu .navigation > li > ul > li:hover {
  background-color: #0d79aa;
}
.header-top .container .top-left ul.info-nav li {
  margin-right: 20px;
}
.header-top .container .top-left ul.info-nav li a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
}
.header-top .container .top-left ul.info-nav li a span {
  color: #fff;
}
.header-top .container .top-left ul.info-nav li span {
  color: #251d66;
}
.header-top .container .top-left ul.info-nav li.separator {
  position: relative;
  margin-right: 30px;
}
.header-top .container .top-left ul.info-nav li.separator span {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  font-size: 7px;
}
.header-top .container .top-right ul.info-nav li a {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.header-top .container .top-right ul.info-nav li a.contacto {
  border: 1px solid #fff;
  padding: 6px 10px;
  position: relative;
  padding-left: 30px;
}
.header-top .container .top-right ul.info-nav li a.contacto span {
  position: absolute;
  top: 8px;
  left: 6px;
  font-size: 18px;
  font-weight: bold;
}
.hero {
  position: relative;
}
.hero .slide:before {
  display: none;
}
.hero .slide .title span {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #093c82;
}
.hero .slide .title h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #181818;
}
.hero .slide .title a.theme-btn {
  display: none;
}
.hero .emergencies {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #0d79aa;
  padding: 15px 30px;
}
.hero .emergencies:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 14px;
  background-color: #37b4f0;
}
.hero .emergencies .icon-movil {
  font-size: 63px;
  color: #fff;
  margin-right: 5px;
}
.hero .emergencies .right {
  display: inline-block;
  vertical-align: top;
  color: #fff;
}
.hero .emergencies .right span {
  font-family: 'Titillium Web', sans-serif;
  display: block;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}
.hero .emergencies .right span + span {
  font-size: 29px;
  font-weight: bold;
}
.tag {
  background-color: #37b4f0;
  padding: 21px 0;
}
.tag span {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: center;
  color: #fff;
  display: block;
}
.tag span + span {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.tag span + span + span {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #fff;
}
.who-we-are .home_team_med span,
.who-we-are .home_care span {
  font-size: 60px;
  color: #0d79aa;
}
.who-we-are .home_team_med h4,
.who-we-are .home_care h4 {
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.who-we-are .home_team_med p,
.who-we-are .home_care p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.who-we-are .home_team_med a,
.who-we-are .home_care a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0d79aa;
  width: 166px;
  height: 45px;
  border: solid 2px #0d79aa;
  padding: 8px 20px;
  margin-top: 45px;
  display: block;
}
.who-we-are .mb20 span {
  color: #0d79aa;
}
.calculator-imc {
  background-color: #37b4f0;
}
.calculator-imc .container .imc-message h3 {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}
.calculator-imc .container .imc-message h3 span {
  color: #0d79aa;
}
.calculator-imc .container .imc-message p {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}
.calculator-imc .container .imc-form .metrico,
.calculator-imc .container .imc-form .imperial {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.calculator-imc .container .imc-form .altura label,
.calculator-imc .container .imc-form .peso label {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
}
.calculator-imc .container .imc-form .altura label input,
.calculator-imc .container .imc-form .peso label input {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  color: #0d79aa;
  width: 100%;
}
.calculator-imc .container .imc-form .borrar input,
.calculator-imc .container .imc-form .calcular input {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0d79aa;
  border: solid 2px #fff;
  background-color: transparent;
  padding: 8px 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
}
.calculator-imc .container .imc-form .borrar input {
  color: #0d79aa;
  border: solid 2px #0d79aa;
  box-sizing: border-box;
}
.calculator-imc .container .imc-resultado .imc-de {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.calculator-imc .container .imc-resultado .imc-res,
.calculator-imc .container .imc-resultado .imc-range,
.calculator-imc .container .imc-resultado .imc-desc {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}
.calculator-imc .container .imc-resultado .imc-de {
  line-height: 1em;
}
.calculator-imc .container .imc-resultado .imc-res {
  font-size: 90px;
  line-height: 1em;
}
.calculator-imc .container .imc-resultado .imc-range {
  line-height: 1em;
}
.calculator-imc .container .imc-resultado .imc-desc {
  line-height: 1em;
}
.calculator-imc .container .imc-resultado .imc-desc {
  font-weight: normal;
  line-height: 1em;
}
.calculator-imc .container .imc-resultado ul {
  display: block;
  min-height: 32px;
}
.calculator-imc .container .imc-resultado ul li {
  display: none;
}
.miembro {
  background-color: #f6f6f6;
}
.miembro .container .section-content h3 {
  font-family: TitilliumWeb;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: center;
  color: #0d79aa;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.miembro .container .section-content .rasoc {
  text-align: center;
}
.miembro .container .section-content .rasoc img {
  -o-object-fit: contain;
     object-fit: contain;
}
.miembro .container .section-content .rasoc span {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #181818;
  display: block;
}
.main-footer {
  background-color: #37b4f0;
}
.main-footer .container {
  padding-bottom: 5px;
}
.main-footer ul {
  padding: 0;
  margin: 0;
}
.main-footer ul li {
  list-style: none;
  display: block;
}
.main-footer ul li a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #251d66;
}
.main-footer .formadepago h4 {
  padding: 0;
}
.main-footer .formadepago ul li {
  display: inline-block;
  padding: 0 10px;
}
.main-footer .formadepago ul li span {
  font-size: 30px;
  color: #fff;
}
.main-footer .formadepago ul li:first-child {
  padding-left: 0;
}
.main-footer .formadepago ul li:last-child {
  padding-right: 0;
}
.main-footer .mas-info h4 {
  padding: 0;
}
.main-footer .mas-info ul li a {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.main-footer .mas-info ul li a.contacto {
  border: 1px solid #fff;
  padding: 6px 10px;
  position: relative;
  padding-left: 30px;
  display: inline-block;
  margin-bottom: 8px;
}
.main-footer .mas-info ul li a.contacto span {
  position: absolute;
  top: 8px;
  left: 6px;
  font-size: 18px;
  font-weight: bold;
}
.main-footer .social ul {
  text-align: center;
}
.main-footer .social ul li {
  display: inline-block;
}
.main-footer .social ul li a {
  color: #fff;
}
.main-footer .social ul li a span {
  color: #fff;
  font-size: 22px;
}
.main-footer .aviso {
  text-align: center;
}
.main-footer .aviso a {
  color: #fff;
}
.our-department .section-title h6,
.our-department .section-title h2 {
  font-family: 'Titillium Web', sans-serif;
}
.our-department .section-title h2 {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.our-department .section-title h6 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: left;
  color: #181818;
}
.our-department .section-wrap .service-box {
  color: #fff;
  padding: 66px 25px;
  position: relative;
  text-align: center;
  transform: translateZ(0px);
  z-index: 1;
  margin-bottom: 30px;
}
.our-department .section-wrap .service-box:before,
.our-department .section-wrap .service-box::after {
  bottom: 0;
  content: "";
  left: 0;
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease 0s;
  z-index: 3;
}
.our-department .section-wrap .service-box::before {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: scaleY(0);
  transform-origin: 100% 0 0;
}
.our-department .section-wrap .service-box::after {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: scaleX(0);
  transform-origin: 0 100% 0;
}
.our-department .section-wrap .service-box .service-box-overlay {
  background-color: #37b4f0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  transition: all 0.3s ease 0s;
  background-color: #37b4f0;
  opacity: 0.9;
}
.our-department .section-wrap .service-box > i {
  color: #fff;
  display: block;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 15px;
  position: relative;
  z-index: 4;
}
.our-department .section-wrap .service-box .service-box-content {
  position: relative;
  z-index: 4;
}
.our-department .section-wrap .service-box .service-box-content a {
  color: #fff;
}
.our-department .section-wrap .service-box .service-box-content h5 {
  text-transform: uppercase;
}
.our-department .section-wrap .service-box::before {
  transform: scaleY(1);
}
.our-department .section-wrap .service-box::after {
  transform: scaleX(1);
}
.team .section_wrap .owl-carousel .team-item .team-img:before,
.team .section_wrap .owl-carousel .team-item .team-img:after {
  content: initial;
}
.team .section_wrap .owl-carousel .team-item .img-title {
  background-color: #37b4f0;
}
.team .section_wrap .owl-carousel .team-item .img-title h4 {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
}
.team .section_wrap .owl-carousel .team-item .img-title p {
  text-transform: uppercase;
}
.testimonial {
  background-color: #f6f6f6;
  padding-bottom: 0;
  padding-top: 0;
}
.testimonial h5 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: center;
  color: #0d79aa;
}
.testimonial h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #181818;
}
.testimonial .desc {
  margin: 0 auto;
  width: 558px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #181818;
}
.testimonial .testi {
  padding: 0 10px;
}
.testimonial .testi .cont {
  background-color: #fff;
}
.testimonial .testi .cont .img_desc {
  padding: 30px 20px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.testimonial .testi .cont .img_name,
.testimonial .testi .cont .img_surg {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.testimonial .testi .cont .img_name {
  font-weight: bold;
}
.testimonial .foot {
  text-align: center;
}
.testimonial .foot a.more {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0d79aa;
  border: solid 2px #0d79aa;
  padding: 8px 20px;
  display: inline-block;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 20px;
}
.testimonial .foot span {
  display: block;
}
.vallarta {
  position: relative;
}
.vallarta:before {
  background-color: rgba(15,38,58,0.3) !important;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.vallarta h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.vallarta p {
  font-family: 'Titillium Web', sans-serif;
  width: 750px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: initial;
}
.vallarta a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  border: solid 2px #fff;
  padding: 8px 20px;
  display: inline-block;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 20px;
}
a.jx-knightlab {
  display: none;
}
.cont_info {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
section.title_section {
  background-attachment: initial;
  background-position: 0 0 !important;
}
section.title_section .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
section.title_section h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
section.title_section p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
ul.lista li {
  position: relative;
  padding-left: 15px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
ul.lista li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 20px;
  background-color: #0d79aa;
  position: absolute;
  top: 12px;
  left: 0;
}
.includes_packages .home_team_med {
  position: relative;
  padding-left: 65px;
  min-height: 190px;
}
.includes_packages .home_team_med span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  color: #007aad;
}
.includes_packages .home_team_med .icon-ambulance {
  font-size: 36px;
}
.includes_packages .home_team_med .icon-med {
  font-size: 60px;
}
.includes_packages .home_team_med .icon-lab {
  font-size: 45px;
}
.includes_packages .home_team_med .icon-food {
  font-size: 60px;
}
.includes_packages .home_team_med .icon-bed {
  font-size: 42px;
}
.calculator-section-imc {
  background-color: #fff;
}
.calculator-section-imc .container {
  background-color: #37b4f0;
}
.calculator-section-imc .imc-message h3 {
  display: none;
}
.calculator-section-imc .imc-message p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  padding: 50px;
  color: #fff;
}
.calculator-section-imc .imc-form .col-md-12 {
  padding-bottom: 20px;
}
.calculator-section-imc .imc-form .col-md-12:last-child {
  padding-bottom: 0;
}
.clasificacion-imc .section-title {
  padding-bottom: 30px;
}
.clasificacion-imc .desc_block {
  padding-bottom: 20px;
}
.clasificacion-imc .desc_block .circle {
  display: inline-block;
  vertical-align: top;
  border: 4px solid #007aad;
  width: 42px;
  height: 42px;
  border-radius: 100%;
}
.clasificacion-imc .desc_block .circle.fir {
  opacity: 0.1;
}
.clasificacion-imc .desc_block .circle.sec {
  opacity: 0.2;
}
.clasificacion-imc .desc_block .circle.thi {
  opacity: 0.3;
}
.clasificacion-imc .desc_block .circle.fou {
  opacity: 0.4;
}
.clasificacion-imc .desc_block .circle.fiv {
  opacity: 0.5;
}
.clasificacion-imc .desc_block .circle.six {
  opacity: 0.6;
}
.clasificacion-imc .desc_block .circle.sev {
  opacity: 0.7;
}
.clasificacion-imc .desc_block .circle.eig {
  opacity: 0.85;
}
.clasificacion-imc .desc_block .circle.nin {
  opacity: 1;
}
.clasificacion-imc .desc_block .desc {
  display: inline-block;
  width: calc(100% - 60px);
  padding-left: 10px;
  vertical-align: top;
}
.clasificacion-imc .desc_block .desc span {
  display: block;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}
.clasificacion-imc .desc_block .desc span.block_bold {
  font-weight: bold;
  line-height: normal;
}
