@media only screen and (max-width: 480px) {
  header {
    z-index: 1001 !important;
  }
  header .header-top {
    display: none;
  }
  .logo_cont {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .header-mainbox .container {
    padding-right: 0;
    padding-left: 0;
  }
  .header-mainbox .container .outer-box {
    padding-right: 0;
    padding-left: 0;
  }
  .scroll-to-top {
    display: none !important;
  }
  .gallery .section-title h2 {
    color: #3f3a36;
  }
  section.gallery .col-md-3 {
    padding: 0;
  }
  section.gallery .modal_image {
    display: block;
    height: 223px;
    overflow: hidden;
  }
  section.gallery .modal_image img {
    width: 100%;
  }
  section.gallery .portfolio.col-4 .portfolio-item {
    width: 100% !important;
  }
  .main-menu .collapse {
    max-height: initial;
  }
  .main-menu .navbar-collapse {
    border: 0 !important;
  }
  .main-menu .navbar-collapse > .navigation {
    border: 0 !important;
    border-radius: 0;
    background-color: transparent;
    background: transparent;
  }
  .main-menu .navbar-collapse > .navigation > li {
    background-color: #0d79aa !important;
  }
  .main-menu .navbar-collapse > .navigation > li > a {
    background-color: #0d79aa !important;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    padding: 10px 30px !important;
  }
  .main-menu .navbar-collapse > .navigation > li > ul > li {
    background-color: #0d79aa !important;
  }
  .main-menu .navbar-collapse > .navigation > li > ul > li > a {
    background-color: #0d79aa !important;
    padding: 10px 50px !important;
  }
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li {
    background-color: #0d79aa !important;
  }
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a {
    background-color: #0d79aa !important;
  }
  .main-menu .navbar-collapse .dropdown-btn {
    border: 0 !important;
    right: 30px;
  }
  .main-menu .navbar-collapse .dropdown-btn span {
    display: none;
  }
  .float_contact {
    position: fixed;
    bottom: -1px;
    right: 0;
    left: 0;
  }
  .float_contact ul {
    font-size: 0;
  }
  .float_contact ul li {
    display: inline-block;
    width: 50%;
  }
  .float_contact ul li a {
    display: block;
    text-align: center;
    line-height: 0;
    padding: 10px 10px;
    border: 0;
  }
  .float_contact ul li a span {
    font-size: 30px;
  }
  .float_contact ul li a.contacto {
    background-color: #fff;
  }
  .float_contact ul li a.contacto span {
    color: #0d79aa;
  }
  section.title_section {
    background-position: 35% 0;
  }
  section.title_section h2 {
    text-align: center;
    padding: 0 10px;
  }
  section.title_section p {
    text-align: center;
  }
  .pull-left {
    padding-left: 30px;
    max-width: 263px;
  }
  .logo {
    width: 100%;
  }
  .logo a {
    width: 100%;
  }
  .logo a img {
    width: 100%;
  }
  .hero {
    height: 146px;
  }
  .hero .slide {
    height: 146px;
  }
  .hero .slide .title {
    display: none;
  }
  section.tag {
    padding: 15px 30px;
  }
  .contacto a,
  .sidebar a {
    width: 100%;
  }
  .contacto a img,
  .sidebar a img {
    width: 100%;
  }
  .contacto p,
  .sidebar p {
    text-align: left;
  }
  .contacto a.map,
  .sidebar a.map {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #0d79aa;
    text-transform: uppercase;
  }
  .comunicacion {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .comunicacion .right span {
    line-height: 14px !important;
  }
  .comunicacion .right span + span {
    line-height: 1.4em !important;
  }
  .comunicacion .right span + span + span {
    line-height: 14px !important;
    padding-bottom: 10px;
  }
  section.who-we-are .section-content p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #181818;
  }
  section.who-we-are .home_team_med,
  section.who-we-are .home_care {
    text-align: center;
  }
  section.who-we-are .home_team_med h4,
  section.who-we-are .home_care h4 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #181818;
  }
  section.who-we-are .home_team_med p,
  section.who-we-are .home_care p {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #181818;
  }
  section.who-we-are .home_team_med a,
  section.who-we-are .home_care a {
    margin: 30px auto;
  }
  .main-menu .navbar-header {
    padding: 24px 0;
    padding-bottom: 6px;
  }
  .main-menu .navbar-header .movil_lang {
    display: block;
  }
  .main-menu .navbar-header .movil_lang a {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #0d79aa;
  }
  .main-menu .navbar-header .movil_lang .navbar-toggle {
    background-color: transparent;
    border: 0;
  }
  .main-menu .navbar-header .movil_lang .navbar-toggle .icon-bar {
    background-color: #0d79aa;
  }
  .emergencies {
    display: none;
  }
  .calculator-imc {
    margin: 0;
  }
  .calculator-imc .container .imc-message {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .calculator-imc .container .imc-message h3 {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .calculator-imc .container .imc-message p {
    padding: 20px 20px 0 40px;
    margin-top: 0;
  }
  .calculator-imc .container .imc-resultado {
    padding: 60px 10px 10px 10px;
    min-height: 208px;
  }
  .miembro h3 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4.7px;
    text-align: center;
    color: #0d79aa;
  }
  .miembro .rasoc {
    padding: 0 20px;
  }
  .miembro .rasoc .image img {
    max-width: calc(100% - 4px);
  }
  .our-department {
    padding: 0;
  }
  .our-department h6 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4.7px;
    text-align: left;
    color: #181818;
  }
  .our-department h2 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #181818;
  }
  .our-department .section-title {
    padding: 30px;
    padding-bottom: 50px;
  }
  .team h6 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4.7px;
    text-align: left;
    color: #181818;
  }
  .team h2 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #181818;
  }
  .team .team-item h4 {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .team .team-item p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .team .team-item p a {
    color: #fff;
  }
  .team .owl-controls {
    display: block !important;
  }
  .team .owl-controls .owl-nav {
    position: static;
  }
  .team .owl-controls .owl-nav .owl-prev,
  .team .owl-controls .owl-nav .owl-next {
    display: block !important;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -50px;
  }
  .team .owl-controls .owl-nav .owl-prev:hover,
  .team .owl-controls .owl-nav .owl-next:hover {
    background: #0798bc;
    color: #fff;
    border: 1px solid #0798bc;
  }
  .team .owl-controls .owl-nav .owl-next {
    left: auto;
    right: 0;
  }
  .testimonial .desc {
    width: 100%;
    padding: 20px 10px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #181818;
  }
  .testimonial .foot span {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #181818;
  }
  .vallarta {
    padding: 0 25px;
    margin: 30px 0;
  }
  .vallarta h3 {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    text-transform: initial;
  }
  .vallarta p {
    width: 100%;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  footer.main-footer .footer-1 {
    padding: 0 20px;
  }
  footer.main-footer .footer-2,
  footer.main-footer .footer-4 {
    display: none;
  }
  footer.main-footer .footer-1 h4 {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  footer.main-footer .footer-1 p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  footer.main-footer .social {
    padding-top: 30px;
  }
  footer.main-footer .social ul li {
    padding: 0 15px;
  }
  footer.main-footer .aviso {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  footer.main-footer .logomovil {
    text-align: center;
    padding-bottom: 27px;
  }
  footer.main-footer .formadepago {
    padding: 0 15px;
  }
}
