body,html
	font-family 'Titillium Web', sans-serif
.container
	padding-top 33px
	padding-bottom 33px
.header-style-one
	.header-mainbox
		background-color #FFF
		z-index 99
.main-header
	.header-top
		background-color #37b4f0
		color #FFF
		.container
			padding-top 0
			padding-bottom 0
	.header-mainbox
		.container
			padding-top 0
			padding-bottom 0
.hero
	height 550px
	.slide
		height 550px
	.hero-slider
		.owl-controls
			height 0
#imagemodal
#mapmodal
	.modal-content
		border-radius 15px
		overflow hidden
		.modal-header
			border-bottom 0
			padding 0
			position absolute
			top 11px
			right 8px
			font-size 16px
			z-index 999
			button
				font-size 30px
				line-height 12px
		.modal-body
			padding 0
			img
				width 100%
			.maps
				width 100%
				min-width 500px
				height 400px
				
.movil_lang
	display none
	
.theme-green
	.main-menu
		.collapse
			max-height initial
		.navigation
			& > li
				& > a
					color #0d79aa
					font-family 'Titillium Web', sans-serif
					font-weight bold
					font-style normal
					font-stretch normal
					line-height normal
					letter-spacing normal
					text-align center
					font-size 14px
					padding 22px 15px
					text-transform uppercase
				&:hover
					& > a
						color #0d79aa
				&.current
					& > a
						color #0d79aa
				&.current-menu-item
					& > a
						color #0d79aa
				& > ul
					background-color #37b4f0
					& > li
						&:hover
						&:focus
						&:active
							background-color #0d79aa !important
							background #0d79aa !important
						a
							text-transform uppercase
.header-top
	.container
		.top-left
			ul.info-nav
				li
					margin-right 20px
					a
						font-family 'Titillium Web', sans-serif
						font-size 16px
						font-weight bold
						font-style normal
						font-stretch normal
						line-height normal
						letter-spacing normal
						text-align left
						color #FFF
						text-transform uppercase
						span
							color #FFF
					span
						color #251d66
					&.separator
						position relative
						margin-right 30px
						span
							position absolute
							top 5px
							left 0
							right 0
							font-size 7px
					&.dropdown
						margin-left 60px
						&:hover
							a
								position relative
								&:after
									content: '.....';
									position: absolute;
									letter-spacing: 4px;
									left: 0;
									right: 0;
									text-align: center;
									bottom: -10px;
							ul
								li
									a
										&:after
											content initial
		.top-right
			ul.info-nav
				li
					a
						font-size 16px
						font-weight bold
						font-style normal
						font-stretch normal
						line-height normal
						letter-spacing normal
						text-align left
						color #ffffff
						&.contacto
							border 1px solid #FFF
							padding 6px 10px
							position relative
							padding-left 30px
							span
								position absolute
								top 8px
								left 6px
								font-size 18px
								font-weight bold
.hero
	position relative
	.slide
		&:before
			display none
		.title
			span
				font-size 20px
				font-weight normal
				font-style normal
				font-stretch normal
				line-height normal
				letter-spacing normal
				text-align center
				color #ffffff

			h1
				font-size 72px
				font-weight bold
				font-style normal
				font-stretch normal
				line-height normal
				letter-spacing normal
				text-align center
				color #ffffff	
	.emergencies
		position absolute
		top 0
		right 0
		z-index 2
		background-color #0d79aa
		padding 15px 30px
		&:before
			content ""
			position absolute
			top 0
			left 0
			bottom 0
			width 14px
			background-color #37b4f0
		.icon-movil
			font-size 63px
			color #FFF
			margin-right 5px
		.right
			display inline-block
			vertical-align top
			color #FFF
			span
				font-family 'Titillium Web', sans-serif
				display block
				font-size 16px
				font-weight normal
				font-style normal
				font-stretch normal
				line-height normal
				letter-spacing normal
				text-align left
				text-transform uppercase
				& + span
					font-size 29px
					font-weight bold
.tag
	background-color #37b4f0
	padding 21px 0
	span
		font-family 'Titillium Web', sans-serif
		font-size 14px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height normal
		letter-spacing 4.7px
		text-align center
		color: #ffffff
		display block
		& + span
			font-size 30px
			font-weight bold
			font-style normal
			font-stretch normal
			line-height normal
			letter-spacing normal
			text-align center
		& + span + span
			font-size 16px
			font-weight normal
			font-style normal
			font-stretch normal
			line-height normal
			letter-spacing -0.1px
			text-align center
			color #ffffff
.contact-form
	input
	textarea
		font-family 'Titillium Web', sans-serif
		background-color #efefef
		border 0
	
	.form_grp_info
		position relative
		span
			position absolute
			top 10px
			bottom 0
			right 10px
			i
				color #0d79aa
	select
		display block
		width 100%
		padding 6px 12px
		box-sizing border-box
		height 50px
		border 0
		border-radius 0
		background-color #efefef
		font-family 'Titillium Web', sans-serif
		-webkit-appearance none
		   -moz-appearance none
		        appearance none
		

.blog
	article
		.post-body
			.post-title
				font-family 'Titillium Web', sans-serif
				font-size 26px
				font-weight bold
				font-style normal
				font-stretch normal
				line-height 1.12
				letter-spacing normal
				text-align left
				color #181818
			.post-info
				a
					font-family 'Titillium Web', sans-serif
					font-size 16px
					font-weight normal
					font-style normal
					font-stretch normal
					line-height 1.88
					letter-spacing normal
					text-align left
					color #0d79aa
				span
					color #0d79aa
			a.btn
				font-family 'Titillium Web', sans-serif
				font-size 14px
				font-weight bold
				font-style normal
				font-stretch normal
				line-height normal
				letter-spacing normal
				text-align center
				color #0d79aa
				max-width 166px
				height 45px
				border solid 2px #0d79aa
				padding 8px 20px
				margin-top 45px
				display inline-block
				background-color transparent
				text-transform uppercase
	.sidebar
		.search-box
			.form-group
				input[type="text"]
				input[type="search"]
					background-color #ffffff
					border solid 1px #979797
				button
					background-color #0d79aa
					line-height 55px
					span
						font-size 25px
		.popular-tags
			a
				background-color #0d79aa
				font-family 'Titillium Web', sans-serif
				font-size 14px
				font-weight normal
				font-style normal
				font-stretch normal
				line-height 2.14
				letter-spacing normal
				text-align center
				color #ffffff
		.archives-widget
			ul.archives-list
				li
					padding 5px 0
					a
						.pull-left
						.pull-right
							font-size 14px
							font-weight normal
							font-style normal
							font-stretch normal
							letter-spacing normal
							color #0d79aa
		.sidebar-title
			margin-bottom 10px
			h2
				margin-top 0
				margin-bottom 15px
				font-family 'Titillium Web', sans-serif
				font-size 24px
				font-weight bold
				font-style normal
				font-stretch normal
				line-height 1.21
				letter-spacing normal
				text-align left
				color #181818
				text-transform uppercase
				&:after
					bottom -15px
			&:after
				content initial
.who-we-are
	.home_team_med,.home_care
		span
			font-size 60px
			color #0d79aa
		h4
			text-transform uppercase
			font-family 'Titillium Web', sans-serif
			font-size 16px
			font-weight bold
			font-style normal
			font-stretch normal
			line-height normal
			letter-spacing normal
			text-align left
			color #181818
		p
			font-family 'Titillium Web', sans-serif
			font-size 16px
			font-weight normal
			font-style normal
			font-stretch normal
			line-height 1.88
			letter-spacing normal
			text-align left
			color #181818
		a
			font-family 'Titillium Web', sans-serif
			font-size 14px
			font-weight bold
			font-style normal
			font-stretch normal
			line-height normal
			letter-spacing normal
			text-align center
			color #0d79aa
			width 166px
			height 45px
			border solid 2px #0d79aa
			padding 8px 20px
			margin-top 45px
			display block
	.mb20
		span
			color #0d79aa
.calculator-imc
	background-color #37b4f0
	.container
		.imc-message
			h3
				font-family 'Titillium Web', sans-serif
				color #FFF
				span
					color #0d79aa
			p
				font-family 'Titillium Web', sans-serif
				color #FFF
		.imc-form
			.metrico
			.imperial
				font-family 'Titillium Web', sans-serif
				font-size 16px
				font-weight normal
				font-style normal
				font-stretch normal
				line-height 1.88
				letter-spacing normal
				text-align left
				color #ffffff
			.altura
			.peso
				label
					color #ffffff
					font-size 16px
					font-weight bold
					font-style normal
					font-stretch normal
					line-height 1.88
					letter-spacing normal
					text-align left
					input
						box-sizing border-box
						font-family 'Titillium Web', sans-serif
						width 100%
						padding 5px
						
						font-size 16px
						font-weight normal
						font-style normal
						font-stretch normal
						line-height 1.88
						letter-spacing normal
						text-align left
						color #0d79aa
						&::-webkit-input-placeholder /* Chrome/Opera/Safari */
						&::-moz-placeholder /* Firefox 19+ */
						&:-ms-input-placeholder /* IE 10+ */
						&:-moz-placeholder /* Firefox 18- */
							color #0d79aa
			.botones
				margin-top 25px		
				.borrar
				.calcular
					input
						font-family 'Titillium Web', sans-serif
						font-size 14px
						font-weight bold
						font-style normal
						font-stretch normal
						line-height normal
						letter-spacing normal
						text-align center
						color #0d79aa
						border solid 2px #ffffff
						background-color transparent
						padding 8px 20px
						text-transform uppercase
						box-sizing border-box
						width 100%
				.borrar
					input
						color #0d79aa
						border solid 2px #0d79aa
						box-sizing border-box
			
		
			.col-md-12
				padding-bottom 0
				padding-left 0
				padding-right 0 
		.imc-resultado
			padding 26px 0 0 40px
			.imc-de
				font-family 'Titillium Web', sans-serif
				font-size 16px
				font-weight bold
				font-style normal
				font-stretch normal
				letter-spacing normal
				text-align center
				color #ffffff
			.imc-res
			.imc-range
			.imc-desc
				font-family 'Titillium Web', sans-serif
				font-size 16px
				font-weight bold
				font-style normal
				font-stretch normal
				letter-spacing normal
				text-align center
				color #ffffff
				text-transform capitalize
			.imc-de
				line-height: 1em;
			.imc-res
				font-size: 90px;
				line-height: 1em;
			.imc-range
				line-height: 1em;
			.imc-desc
				line-height: 1em;
			.imc-desc
				font-weight: normal;
				line-height: 1em;   
			ul
				display block
				min-height 32px
				li
					display none
.calculator-section-imc
	background-color #FFF
	.container
		background-color #37b4f0
	.imc-message
		h3
			display none
		p
			font-family 'Titillium Web', sans-serif
			font-size 20px
			font-weight normal
			font-style normal
			font-stretch normal
			line-height 1.5
			letter-spacing normal
			text-align left
			padding 35px 0 0 40px
			margin-top 0
			color #ffffff
	.imc-form
		.col-md-12
			padding-bottom 20px
			&:last-child
				padding-bottom 0
	.imc-resultado
		padding 40px 0 0 40px
		ul
			display none !important
.miembro
	background-color #f6f6f6
	.container
		.section-content
			h3
				font-family TitilliumWeb
				font-size 14px
				font-weight normal
				font-style normal
				font-stretch normal
				line-height normal
				letter-spacing 4.7px
				text-align center
				color #0d79aa
				text-transform uppercase
				margin-bottom 40px
			.rasoc
				text-align center
				.helper
					display inline-block
					height 100%
					vertical-align middle
				.image
					height 67px
					img
						object-fit contain
				span
					font-family 'Titillium Web', sans-serif
					font-size 16px
					font-weight bold
					font-style normal
					font-stretch normal
					letter-spacing normal
					text-align center
					color #181818
					display block
					
.main-footer
	background-color #37b4f0
	.container
		padding-bottom 5px
	ul
		padding 0
		margin 0
		li
			list-style none
			display block
			a
				font-size 14px
				font-weight normal
				font-style normal
				font-stretch normal
				letter-spacing normal
				text-align left
				color #FFFFFF
	.formadepago
		h4
			padding 0
		ul
			li
				display inline-block
				padding 0 10px
				span
					font-size 30px
					color #FFF
				&:first-child
					padding-left 0
				&:last-child
					padding-right 0
	.mas-info
		h4
			padding 0
		ul
			li
				a
					font-size 16px
					font-weight bold
					font-style normal
					font-stretch normal
					line-height normal
					letter-spacing normal
					text-align left
					color #ffffff
					&.contacto
						border 1px solid #FFF
						padding 6px 10px
						position relative
						padding-left 30px
						display inline-block
						margin-bottom 8px
						span
							position absolute
							top 8px
							left 6px
							font-size 18px
							font-weight bold
						
	.social
		ul
			text-align center
			li
				display inline-block
				padding 0 15px
				a
					color #FFF
					span
						color #FFF
						font-size 22px
	.aviso
		text-align center
		a
			color #FFF

.our-department
	.section-title
		h6
		h2
			font-family 'Titillium Web', sans-serif
		h2
			font-size: 30px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #181818;
		h6
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 4.7px;
			text-align: left;
			color: #181818;

	.section-wrap
		.service-box
			color: #fff;
			padding 0
			height 160px
			position: relative;
			text-align: center;
			transform: translateZ(0px);
			z-index: 1;
			margin-bottom: 30px;
			&:before,
			&::after
				content: "";
				
			&::before
				border-left: 1px solid #fff;
				border-right: 1px solid #fff;
				transform: scaleY(0);
				transform-origin: 100% 0 0;
			&::after
				border-bottom: 1px solid #fff;
				border-top: 1px solid #fff;
				transform: scaleX(0);
				transform-origin: 0 100% 0;
			.service-box-overlay
				background-color: #37b4f0;
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 2;
				transition: all 0.3s ease 0s;
				background-color: #37b4f0;
				opacity: 0.9;
			& > i 
				color: #FFF;
				display: block;
				font-size: 64px;
				line-height: 64px;
				margin-bottom: 15px;
				position: relative;
				z-index: 4;
			.service-box-content
				position relative
				z-index 4
				height 100%
				a
					color #FFF
				h5
					text-transform uppercase
					display inline-block
					vertical-align middle
					width calc(100% - 4px )
					padding 0 15px
					text-align center
				span
					height 100%
					display inline-block
					vertical-align middle
					width 0
			&::before
				transform: scaleY(1);
			&::after
				transform: scaleX(1);
.team
	.section_wrap
		.owl-carousel
			.team-item
				.team-img
					&:before
					&:after
						content initial
				.img-title
					background-color #37b4f0
					h4
						font-size: 18px;
						font-weight: bold;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						text-align: left;
						color: #ffffff;
						font-family 'Titillium Web', sans-serif
					p
						text-transform uppercase
		.owl-controls
			display none
.testimonial
	background-color: #f6f6f6;
	padding-bottom 0
	padding-top 0
	h5
		font-family 'Titillium Web', sans-serif
		font-size 14px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height normal
		letter-spacing 4.7px
		text-align center
		color #0d79aa
	h3
		font-family 'Titillium Web', sans-serif
		font-size: 30px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #181818;
	.desc
		margin 0 auto
		margin-bottom 30px
		width 580px
		font-family 'Titillium Web', sans-serif
		font-size 14px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height normal
		letter-spacing 2px
		text-align center
		color #181818
	.testi
		padding 0 10px
		.cont
			background-color #FFF
			.img_desc
				padding 30px 20px
				font-family 'Titillium Web', sans-serif
				font-size 16px
				font-weight normal
				font-style normal
				font-stretch normal
				line-height 1.88
				letter-spacing normal
				text-align left
				color #181818
				p
					
					overflow hidden
					position relative
					line-height 1.2em
					height 7.3em
					text-align justify
					margin-right -1em
					padding-right 1em
				.img_name
				.img_surg
					font-family 'Titillium Web', sans-serif
					font-size 16px
					font-weight normal
					font-style normal
					font-stretch normal
					line-height 1.88
					letter-spacing normal
					text-align left
					color #181818
					min-height 30px
				.img_name
					font-weight bold
			.img_cont
				width 100%
				img
					width 100%
	.foot
		text-align center
		a.more
			font-family: 'Titillium Web', sans-serif;
			font-size: 14px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: #0d79aa;
			border: solid 2px #0d79aa;
			padding: 8px 20px;
			display: inline-block;
			margin 0
			margin-top 35px
			margin-bottom 20px
		span
			display block
.vallarta
	position: relative;
	text-align center
	margin-top 30px
	&:before
		background-color rgba(15, 38, 58,.3) !important
		content " "
		height 100%
		left 0
		position absolute
		top 0
		width 100%
		z-index 0
	h3
		font-family 'Titillium Web', sans-serif
		font-size 30px
		font-weight bold
		font-style normal
		font-stretch normal
		line-height normal
		letter-spacing normal
		text-align center
		color #ffffff
	p
		font-family: 'Titillium Web', sans-serif;
		width 750px
		font-size 16px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height 1.88
		letter-spacing normal
		text-align center
		color #ffffff
		text-transform initial
		margin 10px auto
	a
		font-family 'Titillium Web', sans-serif;
		font-size 14px
		font-weight bold
		font-style normal
		font-stretch normal
		line-height normal
		letter-spacing normal
		text-align center
		color #FFF
		border solid 2px #FFF
		padding 8px 20px
		display inline-block
		margin 0
		margin-top 35px
		margin-bottom 20px
		background-color transparent
		&:hover
			background-color transparent
a.jx-knightlab
	display none
.cont_info
	font-family 'Titillium Web', sans-serif
	font-size 16px
	font-weight normal
	font-style normal
	font-stretch normal
	line-height 1.88
	letter-spacing normal
	text-align left
	color #181818
section.title_section
	background-attachment initial
	background-position 0 0
	.container
		padding-top 100px
		padding-bottom 100px
	h2
		font-family 'Titillium Web', sans-serif
		font-size 35px
		font-weight bold
		font-style normal
		font-stretch normal
		line-height normal
		letter-spacing normal
		text-align left
		color #ffffff
		text-transform uppercase
	p
		font-family 'Titillium Web', sans-serif
		font-size 14px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height normal
		letter-spacing 4.7px
		text-align left
		color #ffffff
		text-transform uppercase

ul.lista
	margin 15px 0px 10px 10px
	li
		position relative
		padding-left 15px
		
		font-size 16px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height 1.88
		letter-spacing normal
		text-align left
		color #181818

		&:before
			content ""
			width 8px
			height 8px
			border-radius 20px
			background-color #0d79aa
			position absolute
			top 12px
			left 0
			
.includes_packages
	.home_team_med
		position relative
		padding-left 65px
		
		span
			position absolute
			top 0
			left 0
			font-size 50px
			color #007aad
		h4
			font-size 16px
			font-weight bold
			font-style normal
			font-stretch normal
			line-height normal
			letter-spacing normal
			text-align left
			color #181818
			text-transform uppercase
		p
			font-size 16px
			font-weight normal
			font-style normal
			font-stretch normal
			line-height 1.88
			letter-spacing normal
			text-align left
			color #181818
		&.row_one
			min-height 150px
		&.row_two
			min-height 225px
		&.row_three
			min-height 150px
		
		.icon-ambulance
			font-size 41px
		.icon-med
			font-size 60px
		.icon-lab
			font-size 45px
		.icon-food
			font-size 60px
		.icon-bed
			font-size 42px
	.section-wrap
		margin-top 30px !important
	.section-content
		h2
			font-size 24px
			font-weight bold
			font-style normal
			font-stretch normal
			line-height 1.21
			letter-spacing normal
			text-align left
			color #181818
			margin-top 30px
		

.clasificacion-imc
	.section-title
		padding-bottom 30px
	.desc_block
		padding-bottom 20px
		.circle
			display inline-block
			vertical-align top
			border 4px solid #007aad
			width 42px
			height 42px
			border-radius 100%
			&.fir
				opacity 0.1
			&.sec
				opacity 0.2
			&.thi
				opacity 0.3
			&.fou
				opacity 0.4
			&.fiv
				opacity 0.5
			&.six
				opacity 0.6
			&.sev
				opacity 0.7
			&.eig
				opacity 0.85
			&.nin
				opacity 1
		.desc
			display inline-block
			width calc( 100% - 60px )
			padding-left 10px
			vertical-align top
			span
				display block
								
				font-size 16px
				font-weight normal
				font-style normal
				font-stretch normal
				line-height 1.88
				letter-spacing normal
				text-align left
				color #181818
				&.block_bold
					font-weight bold
					line-height normal
.obesidad
	ul
		li
			position relative
			padding-left 15px
			
			font-size 16px
			font-weight normal
			font-style normal
			font-stretch normal
			line-height 1.88
			letter-spacing normal
			text-align left
			color #181818

			&:before
				content ""
				width 8px
				height 8px
				border-radius 20px
				background-color #0d79aa
				position absolute
				top 12px
				left 0
	.sidebar
		p
			padding-top 20px
			font-size 16px
			font-weight normal
			font-style normal
			font-stretch normal
			line-height 1.88
			letter-spacing normal
			text-align left
			color #181818
		ul
			li
				font-weight bold
				font-size 16px
				font-weight bold
				font-style normal
				font-stretch normal
				line-height 1.88
				letter-spacing normal
				text-align left
				color #181818
				&:before
					content initial
					padding-left 0
.cmq_nayarit
.cmq_premiere
.consultorio
	.sidebar
		a
			width 100%
			img
				width 100%
		p
			text-align center
		a.map
			font-family 'Titillium Web', sans-serif
			font-size 18px
			font-weight bold
			font-style normal
			font-stretch normal
			line-height normal
			letter-spacing normal
			text-align right
			color #0d79aa
			text-transform uppercase
.contacto
	.sidebar
		a
			width 100%
			img
				width 100%
		p
			text-align left
		a.map
			font-family 'Titillium Web', sans-serif
			font-size 18px
			font-weight bold
			font-style normal
			font-stretch normal
			line-height normal
			letter-spacing normal
			text-align right
			color #0d79aa
			text-transform uppercase
	
	.comunicacion
		padding-top 10px
		padding-bottom 10px
	form
		padding-top 
		.text-center
			text-align center
		input[type="submit"]
			border solid 2px #0d79aa
			font-family 'Titillium Web', sans-serif
			background-color #FFF
			border-radius 0
			font-size 14px
			font-weight bold
			font-style normal
			font-stretch normal
			line-height normal
			letter-spacing normal
			text-align center
			color #0d79aa
			display block
			
			padding 6px 30px
			margin 10px auto
			margin-top 35px
		a
			font-family 'Titillium Web', sans-serif
			font-size 14px
			font-weight normal
			font-style normal
			font-stretch normal
			line-height 1.64
			letter-spacing normal
			text-align center
			color #181818
.staff
	.team-item
		.team-img
			&:after
			&:before
				content initial
		.img-title
			background-color #37b4f0
			opacity 1
			h4
				font-family 'Titillium Web', sans-serif
				font-size 18px
				font-weight bold
				font-style normal
				font-stretch normal
				line-height normal
				letter-spacing normal
				text-align left
				color #ffffff
			p
				font-family 'Titillium Web', sans-serif
				font-size 14px
				font-weight normal
				font-style normal
				font-stretch normal
				line-height normal
				letter-spacing normal
				text-align left
				color #ffffff
				margin 0
	.sidebar
		ul
			li
				a
					font-family 'Titillium Web', sans-serif
					font-size 16px
					font-weight bold
					font-style normal
					font-stretch normal
					line-height 1.88
					letter-spacing normal
					text-align left
					color #181818
.contacto
.consultorio
	.comunicacion
		padding-top 23px
		.left
			display inline-block
			width 75px
			vertical-align top
			span
				font-size 75px
				display block
				color #1179a9
		.right
			display inline-block
			width calc( 100% - 90px )
			vertical-align top
			span
				display block
				font-family 'Titillium Web', sans-serif
				font-size 24px
				font-weight bold
				font-style normal
				font-stretch normal
				line-height 0
				letter-spacing normal
				text-align left
				color #181818
				& + span
					font-size 37px
					font-family 'Titillium Web', sans-serif
					font-weight bold
					font-style normal
					font-stretch normal
					line-height 1.7em
					letter-spacing normal
					text-align left
					color #181818
					& + span
						font-family 'Titillium Web', sans-serif
						font-size 16px
						font-weight normal
						font-style normal
						font-stretch normal
						line-height 0
						letter-spacing normal
						text-align left
						color #181818
.gallery
	.section-title
		h2
			color #3f3a36
section.gallery
	.col-md-3
		padding 0
	.modal_image
		display block
		height 223px
		overflow hidden
		img
			width 100%
.overlay_vallarta
	position relative
	&:before
		background-color rgba(0,0,0,0.2)
		content " "
		height 100%
		left 0
		position absolute
		top 0
		width 100%
		z-index: 0;
.video
	position relative
	padding-bottom 56.25% /*16:9*/
	padding-top 30px
	height 0
	overflow hidden
.video iframe,
.video object,
.video embed
	position absolute
	top 0
	left 0
	width 100%
	height 100%


		
.g-recaptcha
	div
		margin 0 auto
.float_contact
	position fixed
	bottom 100px
	right 50px
	z-index -1
	opacity 0
	transition all 500ms ease
	-moz-transition all 500ms ease
	-webkit-transition all 500ms ease
	-ms-transition all 500ms ease
	-o-transition all 500ms ease
	a
		background-color #0d79aa
		color #FFF
		padding 6px 10px
		border 1px solid #FFF
		span
			color #FFF
		&:active
		&:hover
			color #FFF
			background-color #0d79aa
	&.show
		
		z-index 1000
		opacity 1
.cirujano
	.sidebar
		h5
			text-align center
		.cirujano_info
			ul
				li
					text-align center
		.cirujano_asociado
			.member
				text-align center
				.image
					height 74px
					font-size 0
					img
						object-fit contain
						vertical-align middle
						max-width 100%
					.helper
						display inline-block
						height 100%
						vertical-align middle
						width 0
				span
					text-align center
					display block
					font-size 16px
					font-weight bold
					font-style normal
					font-stretch normal
					line-height 1.19
					letter-spacing normal
					text-align center
					color #181818
		ul
			li
				span
					font-size 16px
					font-weight normal
					font-style normal
					font-stretch normal
					line-height 1.88
					letter-spacing normal
					text-align center
					color #181818
					&.tag_info
						font-weight bold
.section-content
	h2
		font-size 24px
		font-weight bold
		font-style normal
		font-stretch normal
		line-height 1.21
		letter-spacing normal
		text-align left
		color #181818
		margin-top 30px
	p
		font-size 16px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height 1.88
		letter-spacing normal
		text-align left
		color #181818
		margin-top 30px
	ul
		li
			font-size 16px
			font-weight normal
			font-style normal
			font-stretch normal
			line-height 1.88
			letter-spacing normal
			text-align left
			color #181818
.radio_button
	margin-bottom 0
	font-weight normal
	.radio_cont
		display inline-block
		position relative
		width 30px
		height 30px
		vertical-align top
		input[type="radio"]
			position absolute
			z-index -1
			opacity 0
			&:checked
				& ~ .control_indicator
					&:before
						content ""
						width 10px
						height 10px
						background-color #0d79aa
						position absolute
						top 6px
						left 6px
						border-radius 100%
		.control_indicator
			position absolute
			top 4px
			left 0
			height 26px
			width 26px
			background-color #FFF
			border 2px solid #0d79aa
			border-radius 100%
	span
		display inline-block
		height 30px
		vertical-align top
.header-top
	ul.info-nav
		li.dropdown
			ul
				visibility hidden
				opacity 0
				position absolute
				left 0px
				top 120%
				width 200px
				padding 0px
				z-index 100
				display block
				transition all 500ms ease
				-moz-transition all 500ms ease
				-webkit-transition all 500ms ease
				-ms-transition all 500ms ease
				-o-transition all 500ms ease
				background-color #37b4f0
				border 1px solid #37b4f0
				li
					
					display block
					position relative
					width 100%
					border-bottom 1px solid rgba(0,0,0,0.10)
					a
						position: relative;
						display: block;
						padding: 10px 20px;
						line-height: 24px;
						font-weight: 400;
						font-size: 13px;
						text-transform: capitalize;
						color: #333333;
						transition: all 500ms ease;
						-moz-transition: all 500ms ease;
						-webkit-transition: all 500ms ease;
						-ms-transition: all 500ms ease;
						-o-transition: all 500ms ease;
					&:hover
						background-color #0d79aa
			&:hover
				ul
					visibility visible
					opacity 1
					top 150%
			.dropdown-btn
				display none
