.header-style-one
	.header-mainbox
		background-color #FFF
.main-header
	.header-top
		background-color #37b4f0
		color #FFF

.theme-green
	.main-menu
		.navigation
			& > li
				& > a
					color #0d79aa
					font-family 'Titillium Web', sans-serif
					font-weight bold
					font-style normal
					font-stretch normal
					line-height normal
					letter-spacing normal
					text-align center
					font-size 14px
					padding 22px 20px
				&:hover
					& > a
						color #0d79aa
				&.current
					& > a
						color #0d79aa
				&.current-menu-item
					& > a
						color #0d79aa
				& > ul
					background-color #37b4f0
					& > li
						&:hover
							background-color #0d79aa
.header-top
	.container
		.top-left
			ul.info-nav
				li
					margin-right 20px
					a
						font-family 'Titillium Web', sans-serif
						font-size 16px
						font-weight bold
						font-style normal
						font-stretch normal
						line-height normal
						letter-spacing normal
						text-align right
						color #FFF
						text-transform uppercase
						span
							color #FFF
					span
						color #251d66
					&.separator
						position relative
						margin-right 30px
						span
							position absolute
							top 5px
							left 0
							right 0
							font-size 7px
		.top-right
			ul.info-nav
				li
					a
						font-size 16px
						font-weight bold
						font-style normal
						font-stretch normal
						line-height normal
						letter-spacing normal
						text-align left
						color #ffffff
						&.contacto
							border 1px solid #FFF
							padding 6px 10px
							position relative
							padding-left 30px
							span
								position: absolute;
								top: 8px;
								left: 6px;
								font-size: 18px;
								font-weight: bold;
.hero
	.slide
		&:before
			display none